<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title box15
        link(rel="stylesheet", href="/css/styles.css")
    body
        .top
            .top__col1
            .top__col2
        .main
            .main__b1
            .main__b2
            .main__b3
        .under
            .under__a1
            .under__a2
                .under__a2__sec1
                .under__a2__sec2